<div>
    <header>
        <div class="title-bar">
            <img class="avatar drawer-control" title="控制左侧栏" src="__STATIC__/image/logo@white.png">
            <span class="title">消息</span>
            <i class="fa fa-refresh refresh" title="刷新"></i>
        </div>
        <div class="search-bar">
            <i class="fa fa-search"></i>
            搜索
        </div>
    </header>
    <div class="tab-list">
        <!--消息-->
        <div class="tab tab-message">
            <div class="tab-ul message-ul">
                <div class="message-li">
                    <img class="avatar" src="__STATIC__/image/logo@white.png">
                    <div class="line">
                        <span class="user">Ershop development team</span>
                        <time>2017-12-12</time>
                    </div>
                    <div class="line">
                        <span class="bio">[分享]【有毒！《一人之下》这部漫画炒鸡好看！】</span>
                    </div>
                </div>
                <div class="message-li">
                    <img class="avatar" src="__STATIC__/image/logo@white.png">
                    <div class="line">
                        <span class="user">Ershop development team</span>
                        <time>2017-12-12</time>
                    </div>
                    <div class="line">
                        <span class="bio">[分享]【有毒！《一人之下》这部漫画炒鸡好看！】</span>
                    </div>
                </div>
                <div class="message-li">
                    <img class="avatar" src="__STATIC__/image/logo@white.png">
                    <div class="line">
                        <span class="user">Ershop development team</span>
                        <time>2017-12-12</time>
                    </div>
                    <div class="line">
                        <span class="bio">[分享]【有毒！《一人之下》这部漫画炒鸡好看！】</span>
                    </div>
                </div>
                <div class="message-li">
                    <img class="avatar" src="__STATIC__/image/logo@white.png">
                    <div class="line">
                        <span class="user">Ershop development team</span>
                        <time>2017-12-12</time>
                    </div>
                    <div class="line">
                        <span class="bio">[分享]【有毒！《一人之下》这部漫画炒鸡好看！】</span>
                    </div>
                </div>
                <div class="message-li">
                    <img class="avatar" src="__STATIC__/image/logo@white.png">
                    <div class="line">
                        <span class="user">Ershop development team</span>
                        <time>2017-12-12</time>
                    </div>
                    <div class="line">
                        <span class="bio">[分享]【有毒！《一人之下》这部漫画炒鸡好看！】</span>
                    </div>
                </div>
            </div>
        </div>
        <!--联系人-->
        <div class="tab tab-contact">
            <div class="tab-ul contact-ul"></div>
        </div>
        <!--动态-->
        <div class="tab tab-situation">
            <div class="tab-ul situation-ul">
                <div class="situation-load">
                    <span>查看更多</span>
                </div>
                <div class="situation-loading">
                    <i class="fa fa-spinner fa-pulse"></i>
                    <span>正在加载更多</span>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="col-xs-12">
            <div class="col-xs-4 footer-message">
                <i class="fa fa-comment"></i><br/>
                消息
            </div>
            <div class="col-xs-4 footer-contact">
                <i class="fa fa-user"></i><br/>
                联系人
            </div>
            <div class="col-xs-4 footer-situation">
                <i class="fa fa-star"></i><br/>
                动态
            </div>
        </div>
    </footer>
</div>