<div>
    <header>
        <div class="title-bar">
            <img class="avatar" src="__STATIC__/image/logo@white.png">
            <span class="title">消息</span>
            <i class="fa fa-refresh refresh" title="刷新"></i>
        </div>
        <div class="search-bar">
            <i class="fa fa-search"></i>
            搜索
        </div>
    </header>
    <div class="tab-list">
        <!--消息-->
        <div class="tab tab-message">
            <div class="tab-ul message-ul">
                <div class="message-li">
                    <img class="avatar" src="__STATIC__/image/logo@white.png">
                    <div class="line">
                        <span class="user">Ershop development team</span>
                        <time>2017-12-12</time>
                    </div>
                    <div class="line">
                        <span class="bio">[分享]【有毒！《一人之下》这部漫画炒鸡好看！】</span>
                    </div>
                </div>
                <div class="message-li">
                    <img class="avatar" src="__STATIC__/image/logo@white.png">
                    <div class="line">
                        <span class="user">Ershop development team</span>
                        <time>2017-12-12</time>
                    </div>
                    <div class="line">
                        <span class="bio">[分享]【有毒！《一人之下》这部漫画炒鸡好看！】</span>
                    </div>
                </div>
                <div class="message-li">
                    <img class="avatar" src="__STATIC__/image/logo@white.png">
                    <div class="line">
                        <span class="user">Ershop development team</span>
                        <time>2017-12-12</time>
                    </div>
                    <div class="line">
                        <span class="bio">[分享]【有毒！《一人之下》这部漫画炒鸡好看！】</span>
                    </div>
                </div>
                <div class="message-li">
                    <img class="avatar" src="__STATIC__/image/logo@white.png">
                    <div class="line">
                        <span class="user">Ershop development team</span>
                        <time>2017-12-12</time>
                    </div>
                    <div class="line">
                        <span class="bio">[分享]【有毒！《一人之下》这部漫画炒鸡好看！】</span>
                    </div>
                </div>
                <div class="message-li">
                    <img class="avatar" src="__STATIC__/image/logo@white.png">
                    <div class="line">
                        <span class="user">Ershop development team</span>
                        <time>2017-12-12</time>
                    </div>
                    <div class="line">
                        <span class="bio">[分享]【有毒！《一人之下》这部漫画炒鸡好看！】</span>
                    </div>
                </div>
            </div>
        </div>
        <!--联系人-->
        <div class="tab tab-contact">
            <div class="tab-ul contact-ul">
                <div class="contact-li">
                    <div class="category-li">
                        <i class="fa fa-caret-right icon-arrow"></i>
                        <span class="name">特别关心</span>
                        <span class="pull-right">1</span>
                    </div>
                    <div class="user-ul">
                        <div class="message-li">
                            <img class="avatar" src="__STATIC__/image/logo@white.png">
                            <div class="line">
                                <span class="user">七画</span>
                            </div>
                            <div class="line">
                                <span class="bio">[4G在线]你是我的禅，秀色可“参”</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--动态-->
        <div class="tab tab-situation">
            <div class="tab-ul situation-ul">
                <div class="situation-li">
                    <div class="message-li title">
                        <img class="avatar" src="__STATIC__/image/logo@white.png">
                        <div class="line">
                            <span class="user">七画</span>
                        </div>
                        <div class="line">
                            <span class="bio">今天09:24</span>
                        </div>
                    </div>
                    <div class="desc">
                        这是一篇很基础的文章，就是讲怎么在 Windows 中使用 Xampp 配置正确的 Laravel 环境的，写这篇文章的原因就是很多人其实是在 Windows
                        环境中进行开发的，而且大部分的人也可能会选择类似 Xampp 的集成环境，然而在使用的过程中，我发现很多人可能都没有正确设置这个开发环境，从而导致一系列的问题和错误。下面将是最基础的
                        Windows Xampp 环境的建立。
                    </div>
                    <div class="tool-bar">
                        <span class="look">浏览123次</span>
                        <div class="pull-right">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                            <i class="glyphicon glyphicon-comment"></i>
                            <i class="glyphicon glyphicon-share"></i>
                        </div>
                    </div>
                    <div class="tags">
                        <i class="fa fa-tags"></i>
                        已添加「
                        <a href="javascript:;" class="tag">ThinkPHP3.2</a>
                        <a href="javascript:;" class="tag">Cookie</a>
                        」共2个标签
                    </div>
                </div>
                <div class="situation-li">
                    <div class="message-li title">
                        <img class="avatar" src="__STATIC__/image/logo@white.png">
                        <div class="line">
                            <span class="user">七画</span>
                        </div>
                        <div class="line">
                            <span class="bio">今天09:24</span>
                        </div>
                    </div>
                    <div class="desc">
                        这是一篇很基础的文章，就是讲怎么在 Windows 中使用 Xampp 配置正确的 Laravel 环境的，写这篇文章的原因就是很多人其实是在 Windows
                        环境中进行开发的，而且大部分的人也可能会选择类似 Xampp 的集成环境，然而在使用的过程中，我发现很多人可能都没有正确设置这个开发环境，从而导致一系列的问题和错误。下面将是最基础的
                        Windows Xampp 环境的建立。
                    </div>
                    <div class="tool-bar">
                        <span class="look">浏览123次</span>
                        <div class="pull-right">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                            <i class="glyphicon glyphicon-comment"></i>
                            <i class="glyphicon glyphicon-share"></i>
                        </div>
                    </div>
                    <div class="tags">
                        <i class="fa fa-tags"></i>
                        已添加「
                        <a href="javascript:;" class="tag">ThinkPHP3.2</a>
                        <a href="javascript:;" class="tag">Cookie</a>
                        」共2个标签
                    </div>
                </div>
                <div class="situation-li">
                    <div class="message-li title">
                        <img class="avatar" src="__STATIC__/image/logo@white.png">
                        <div class="line">
                            <span class="user">七画</span>
                        </div>
                        <div class="line">
                            <span class="bio">今天09:24</span>
                        </div>
                    </div>
                    <div class="desc">
                        这是一篇很基础的文章，就是讲怎么在 Windows 中使用 Xampp 配置正确的 Laravel 环境的，写这篇文章的原因就是很多人其实是在 Windows
                        环境中进行开发的，而且大部分的人也可能会选择类似 Xampp 的集成环境，然而在使用的过程中，我发现很多人可能都没有正确设置这个开发环境，从而导致一系列的问题和错误。下面将是最基础的
                        Windows Xampp 环境的建立。
                    </div>
                    <div class="tool-bar">
                        <span class="look">浏览123次</span>
                        <div class="pull-right">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                            <i class="glyphicon glyphicon-comment"></i>
                            <i class="glyphicon glyphicon-share"></i>
                        </div>
                    </div>
                    <div class="tags">
                        <i class="fa fa-tags"></i>
                        已添加「
                        <a href="javascript:;" class="tag">ThinkPHP3.2</a>
                        <a href="javascript:;" class="tag">Cookie</a>
                        」共2个标签
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="col-xs-12">
            <div class="col-xs-4 footer-message">
                <i class="fa fa-comment"></i><br/>
                消息
            </div>
            <div class="col-xs-4 footer-contact">
                <i class="fa fa-user"></i><br/>
                联系人
            </div>
            <div class="col-xs-4 footer-situation">
                <i class="fa fa-star"></i><br/>
                动态
            </div>
        </div>
    </footer>
</div>