<div>
    <header>
        <img class="avatar" src="__STATIC__/image/logo@white.png">
        <span class="title">消息</span>
        <span class="plus">+</span>
    </header>
    <div class="message">
        <div class="search-bar">
            <i class="fa fa-search"></i>
            搜索
        </div>
        <div class="message-ul">
            <div class="message-li">
                <img class="avatar" src="__STATIC__/image/logo@white.png">
                <div class="line">
                    <span class="user">Ershop development team</span>
                    <time>2017-12-12</time>
                </div>
                <div class="line">
                    <span class="bio">[分享]【有毒！《一人之下》这部漫画炒鸡好看！】</span>
                </div>
            </div>
            <div class="message-li">
                <img class="avatar" src="__STATIC__/image/logo@white.png">
                <div class="line">
                    <span class="user">Ershop development team</span>
                    <time>2017-12-12</time>
                </div>
                <div class="line">
                    <span class="bio">[分享]【有毒！《一人之下》这部漫画炒鸡好看！】</span>
                </div>
            </div>
            <div class="message-li">
                <img class="avatar" src="__STATIC__/image/logo@white.png">
                <div class="line">
                    <span class="user">Ershop development team</span>
                    <time>2017-12-12</time>
                </div>
                <div class="line">
                    <span class="bio">[分享]【有毒！《一人之下》这部漫画炒鸡好看！】</span>
                </div>
            </div>
            <div class="message-li">
                <img class="avatar" src="__STATIC__/image/logo@white.png">
                <div class="line">
                    <span class="user">Ershop development team</span>
                    <time>2017-12-12</time>
                </div>
                <div class="line">
                    <span class="bio">[分享]【有毒！《一人之下》这部漫画炒鸡好看！】</span>
                </div>
            </div>
            <div class="message-li">
                <img class="avatar" src="__STATIC__/image/logo@white.png">
                <div class="line">
                    <span class="user">Ershop development team</span>
                    <time>2017-12-12</time>
                </div>
                <div class="line">
                    <span class="bio">[分享]【有毒！《一人之下》这部漫画炒鸡好看！】</span>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="col-xs-12">
            <div class="col-xs-4">
                消息
            </div>
            <div class="col-xs-4">
                联系人
            </div>
            <div class="col-xs-4">
                动态
            </div>
        </div>
    </footer>
</div>