<div>
    <header>
        <div class="info">
            <img class="avatar" src="__STATIC__/image/logo@white.png">
            <span>{$Think.config.setting.project_account}</span>
            <i class="fa fa-qrcode pull-right"></i>
        </div>
        <div class="level">
            <i class="fa fa-sun-o"></i>
            <i class="fa fa-moon-o"></i>
            <i class="fa fa-star"></i>
        </div>
        <div class="signature">
            一点一滴，一琢一磨
        </div>
    </header>

</div>