<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {$Think.config.setting.project_account}
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- My CSS-->
    <link href="__STATIC__/home/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-3 drawer">
                <include file="index/drawer"/>
            </div>
            <div class="col-md-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cumque dicta, ea eveniet excepturi
                libero modi perferendis placeat reprehenderit veniam. Animi dignissimos et fugit provident repudiandae
                sequi sint veniam voluptates?
            </div>
            <div class="col-md-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cumque dicta, ea eveniet excepturi
                libero modi perferendis placeat reprehenderit veniam. Animi dignissimos et fugit provident repudiandae
                sequi sint veniam voluptates?
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>

<include file="cms@public/tips,cms@public/loading"/>

<!-- jQuery -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Common JavaScript -->
<script src="__STATIC__/home/common.js"></script>
<script type="text/javascript">
    $(function () {
        $.ajax(
            // xxx
        );
    });
</script>
</body>
</html>