<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {$Think.config.setting.project_account}
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- My CSS-->
    <link href="__STATIC__/home/style.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <div class="col-lg-12">
        <div class="row" id="main">
            <div class="col-sm-3 drawer">
                <include file="index/drawer"/>
            </div>
            <div class="col-sm-4 body">
                <include file="index/body"/>
            </div>
            <div class="col-sm-5 article"></div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>

<!-- alipay模态框（Modal） -->
<div class="modal fade" id="alipayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <button type="button" id="showTips" data-toggle="modal" data-target="#tipsModal"
                        style="display: none;"></button>
                <h4 class="modal-title">支付宝，一毛两毛不嫌少~</h4>
            </div>
            <div class="modal-body">
                <img src="/static/image/alipay.png" alt="支付宝捐赠">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<include file="cms@public/tips,cms@public/loading"/>

<!-- Bootstrap Core JavaScript -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Common JavaScript -->
<script src="__STATIC__/js/common.js"></script>
<script src="__STATIC__/home/tools.js"></script>
<script src="__STATIC__/home/body.js"></script>
<script src="__STATIC__/home/Parser.js"></script>
<script type="text/javascript">
    $(function () {
        // body
        $(".body footer .col-xs-4").eq(2).click();

        // 高度自适应
        $(window).resize(function () {
            var wHeight = $(this).height();
            var wWidth = $(this).width();
            // 高度
            if (wHeight < 400) {
                wHeight = 400;
            }
            $('.drawer-ul').height(wHeight - 240);
            $('#main').height(wHeight);
            $('.article').height(wHeight);
            $('.tab-ul').height(wHeight - 180);
            // 宽度
            if (wWidth < 666) {
                $('.drawer').hide();
                if ($('.article .tab').length > 0) {
                    $('.body').hide();
                    $('.article').attr('class', 'article col-xs-12').show();
                } else {
                    $('.body').attr('class', 'body col-xs-12').show();
                    $('.article').hide();
                }
            } else if (wWidth < 1000) {
                $('.drawer').attr('class', 'drawer col-xs-4').show();
                if ($('.article .tab').length > 0) {
                    $('.body').hide();
                    $('.article').attr('class', 'article col-xs-8').show();
                } else {
                    $('.body').attr('class', 'body col-xs-8').show();
                    $('.article').hide();
                }
            } else if (wWidth < 1400) {
                $('.drawer').attr('class', 'drawer col-sm-3').show();
                $('.body').attr('class', 'body col-sm-4').show();
                $('.article').attr('class', 'article col-sm-5').show();
            } else {
                $('.drawer').attr('class', 'drawer col-sm-2').show();
                $('.body').attr('class', 'body col-sm-4').show();
                $('.article').attr('class', 'article col-sm-6').show();
            }
        });
        $(window).resize();
    });
</script>
</body>
</html>