<!-- alipay模态框（Modal） -->
<div class="modal fade" id="alipayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <button type="button" id="showTips" data-toggle="modal" data-target="#tipsModal"
                        style="display: none;"></button>
                <h4 class="modal-title">支付宝，一毛两毛不嫌少~</h4>
            </div>
            <div class="modal-body">
                <img src="/static/image/alipay.png" alt="支付宝捐赠">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- wechat模态框（Modal） -->
<div class="modal fade" id="wechatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">微信订阅号和小程序</h4>
            </div>
            <div class="modal-body">
                <img src="/static/image/prprpr.jpg" alt="微信订阅号">
                <img src="/static/image/biubiubiu.jpg" alt="微信小程序">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->