<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        <block name="title">网站标题</block>
        - {$Think.config.setting.project_name}
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="https://cdn.bootcss.com/metisMenu/2.7.1/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="https://cdn.bootcss.com/startbootstrap-sb-admin-2/1.0.8/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- My CSS-->
    <link href="__STATIC__/css/style.css" rel="stylesheet">
    <block name="css">样式</block>

    <!-- jQuery -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <include file="cms@public/navbar"/>

    <block name="main">主内容</block>
</div>

<include file="cms@public/tips,cms@public/loading"/>

<!-- Bootstrap Core JavaScript -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="https://cdn.bootcss.com/metisMenu/2.7.1/metisMenu.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="https://cdn.bootcss.com/startbootstrap-sb-admin-2/1.0.8/js/sb-admin-2.min.js"></script>
<!-- Common JavaScript -->
<script src="__STATIC__/js/common.js"></script>

<include file="cms@public/modify_pwd"/>

<block name="script">脚本</block>
</body>
</html>